*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.BackgroundVideo{
    position: fixed;
    right: 0;
    min-width: 100%;
    min-height: 100%;
}

.content{
    position: fixed;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    color: #f1f1f1;
    min-width: 100%;
    min-height: 100%;
    padding: 20px;
}
/*스위치부분*/
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
/*
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
필요없는듯*/

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked + .slider{
    background-color: #2196F3;
}

input:checked + .slider:before{
    -webkit-transition: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round{
    border-radius: 34px;
}

.slider.round:before{
    border-radius: 50%;

}
#Sidemenu{
    cursor: pointer;
    display: inline;
}

#Sidemenucontent{
    display: none;
    align-content: center;
    text-align: center;
    font-size: 40px;
}